@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Rubik|Rubik+Mono+One|Rock+Salt&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background: linear-gradient(90deg, #e65c00, #D93343);
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 6.2em;
  color: #F9D423;
  margin: 20px;
  line-height: 0.8em;
}

h2 {
  font-family: 'Rock Salt', cursive;
  color: #F9D423;
  padding: 20px;
}

h3 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #F9D423;
  padding-left: 15px;
}

p {
  font-family: 'Rubik', sans-serif;
  color: #F9D423;
  font-size: 14px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Nanum Pen Script', cursive;
  color: #F9D423;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th {
  text-align: left;
}

th, td {
  margin: 0;
  white-space: nowrap;
  border-top-width: 0px;
  padding-left: 16px;
  padding-bottom: 16px;
  background-color: rgba(255,255,255,0.2);
  font-size: 20px;
}

.schedule_table {
  /*width: 500px;*/
  /*overflow-x: scroll;*/
  margin-left: 5em;
  overflow-y: visible;
  left: 3em;
  overflow-x: auto;
}

.headcol {
  position: absolute;
  background-color: #e65c00;
  color: white;
  width: 3em;
  left: 0.5em;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}

.daycol {
  color: white;
}

button {
  background:none;
  border:none;
  font-size:1em;
  font-family: 'Rubik Mono One', sans-serif;
  color: #F9D423;
  padding-left: 15px;
  cursor: pointer;
} 

button::after, button::before {
  content: "·";
  color: pink;
}

.show_info_table, .show_faq_table {
  margin: 20px;
  display: none;
}

@media screen and (min-width: 300px) {
  h1 {
    font-size: 3.2em;
  }
}
