@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Rubik|Rubik+Mono+One|Rock+Salt|Libre+Franklin:900|Rhodium+Libre&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background: linear-gradient(90deg, #e65c00, #D93343);
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 6.2em;
  color: #F9D423;
  margin: 12px;
  line-height: 0.8em;
}

h2 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #AE4400;
  padding-left: 16px;
  font-size: 2em;
  line-height: 33px;
}

h3 {
  font-family: 'Nanum Pen Script', cursive;
  color: #F9D423;
  padding-left: 15px;
  font-size: 24px;
}

p {
  font-family: 'Rubik', sans-serif;
  color: #F9D423;
  font-size: 14px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Nanum Pen Script', cursive;
  color: #F9D423;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th {
  text-align: left;
}

th, td {
  margin: 0;
  white-space: nowrap;
  border-top-width: 0px;
  padding-left: 16px;
  padding-bottom: 16px;
  background-color: rgba(255,255,255,0.2);
  font-size: 20px;
}

.schedule_table {
  /*width: 500px;*/
  /*overflow-x: scroll;*/
  margin-left: 5em;
  overflow-y: visible;
  left: 3em;
  overflow-x: auto;
}

.headcol {
  position: absolute;
  background-color: #e65c00;
  color: white;
  width: 3em;
  left: 0.5em;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}

.daycol {
  color: white;
}

button {
  background:none;
  border:none;
  font-size: 1.2em;
  font-family: 'Libre Franklin', sans-serif;
  /*text-transform: uppercase;*/
  letter-spacing: 2px;
  color: #F9D423;
  padding-left: 15px;
  cursor: pointer;
} 

button::after, button::before {
  content: "·";
  color: pink;
}

.show_info_table, .show_faq_table {
  margin: 20px;
  display: none;
}

.schedule_table_all {
  display: none;
}

.container {
  cursor: pointer;
}

*,
:before,
:after {
    box-sizing: border-box;
}

/*body {
    background-color: #fdf9fd;
    color: #011a32;
    font: 16px/1.25 'Raleway', sans-serif;
    text-align: center;
}*/

/*#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}*/

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    /*min-height: 100vh;*/
    width: 100%;
}

h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font: 16px/1.25 'Rubik Mono One', sans-serif;
    font-size: 3.2em;
    font-weight: 900;
    line-height: 1;
    color: #F9D423;
}

h1:hover {
    animation-play-state: paused;
}

a {
    color: #024794;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #ab4500, 
            0 0 0 #fb203b, 
            0 0 0 #fb203b, 
            0 0 0 #d65702;
    }

    20% {  
        transform: translateY(-0.1em);
        text-shadow: 
            0 0.03em 0 #ab4500, 
            0 0.13em 0 #fb203b, 
            0 -0.03em 0 #fb203b, 
            0 -0.13em 0 #d65702;
    }

/*    40% {  
        transform: translateY(0.25em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }*/
    
   60% {
        transform: translateY(-0.05em);
        text-shadow: 
            0 0.01025em 0 #ab4500, 
            0 0.0125em 0 #fb203b, 
            0 -0.01025em 0 #fb203b, 
            0 -0.0125em 0 #d65702;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #ab4500, 
            0 0 0 #fb203b, 
            0 0 0 #fb203b, 
            0 0 0 #d65702;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

.welcome_text, h1 {
  width: 380px;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 2.8em;
    line-height: 47px;
  }

  .welcome_text {
    width: 370px;
  }
}
